[Unit]
Description=Gunicorn instance to serve Sentia Web App
After=network.target

[Service]
User=pimzwiers
Group=www-data

WorkingDirectory=/opt/webapp/src
Environment="PATH=/opt/webapp/src/web-venv/bin"

ExecStart=/opt/webapp/src/web-venv/bin/gunicorn --workers 3 --bind unix:sentiawebapp.sock -m 007 wsgi:app

[Install]
WantedBy=multi-user.target